<style>
.center {
    margin: auto;
     padding-left: 150px;
}
</style>

 
<div style="width:550px;background:rgb(221, 227, 233);">
  <div class="center" id="innerresult" style="width:250px;padding-left: 80px;">
	<%= render_qr_code(@qr_data,@size.to_i) %>
  </div>
</div>
          