<style>
/*.center {
    margin: auto;
     padding-left: 150px;
}*/
</style>
<div style="width:<%=@size.to_i * 36%>px;background:rgb(221, 227, 233);padding-top: 12px;" id="outerside">
  <div class="center" id="innerresult" style="width:250px;padding-left: 67px;padding-right: 45px;">
	<%= render_qr_code(@qr_data,@size.to_i) %>
  </div>
</div>
          