<!DOCTYPE html>
<html>
<head>
  <title>DemoPro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" language="javascript" src="nocache.js"></script>
  <link rel="stylesheet" href="http://zxing.appspot.com/generator/gwt/clean/clean.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
